@mixin absolute_center{
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin:auto !important;
}

@mixin setWebkit($property, $value) {
  #{$property}: $value;
  -webkit-#{$property}:#{$value};
  -moz-#{$property}:#{$value};
  -o-#{$property}:#{$value};
  -ms-#{$property}:#{$value};
}

@mixin ub-img($type: 0) {
  @if ($type == 1) {
    @include setWebkit(background-size, cover);
    background: {
      repeat: no-repeat;
      position: center;
    };
  } @else if($type == 2) {
    @include setWebkit(background-size, auto 100%);
    background: {
      repeat: repeat-x;
    };
  } @else if($type == 3) {
    @include setWebkit(background-size, 100% auto);
    background: {
      repeat: repeat-y;
    };
  } @else if($type == 4) {
    @include setWebkit(background-size, 100% auto);
    background: {
      repeat: no-repeat;
      position: center;
    };
  } @else if($type == 5) {
    @include setWebkit(background-size, auto 100%);
    background: {
      repeat: no-repeat;
      position: center;
    };
  } @else if($type == 6) {
    background: {
      repeat: no-repeat;
      position: center;
    };
  } @else if($type == 7) {
    @include setWebkit(background-size, 100% 100%);
    background: {
      repeat: no-repeat;
      position-y: center;
    };
  } @else if($type == 8) {
    @include setWebkit(background-size, contain);
    background: {
      repeat: no-repeat;
      position: left;
    };
  } @else {
    @include setWebkit(background-size, contain);
    background: {
      repeat: no-repeat;
      position: center;
    };
  }
}

@mixin triangle($direction: top, $borderWidth: 6px, $borderColor: #ccc) {
  position:absolute;
  content: "";
  height: 0;
  width: 0;
  line-height: 0;
  overflow: hidden;
  @if $direction == bottom {
    border-top: $borderWidth solid $borderColor;
    border-left: $borderWidth solid transparent;
    border-right: $borderWidth solid transparent;
  }
  @else if $direction == left {
    border-right: $borderWidth solid $borderColor;
    border-top: $borderWidth solid transparent;
    border-bottom: $borderWidth solid transparent;
  }
  @else if $direction == top {
    border-bottom: $borderWidth solid $borderColor;
    border-left: $borderWidth solid transparent;
    border-right: $borderWidth solid transparent;
  }
  @else if $direction == right {
    border-left: $borderWidth solid $borderColor;
    border-top: $borderWidth solid transparent;
    border-bottom: $borderWidth solid transparent;
  }
}

@mixin ellipsisByLineNumber($lines: 1) {
  text-overflow: ellipsis;
  @if $lines == 1 {
    display: inline-block;
  }
  @else {
    display: -webkit-box;
  }
  word-break:break-all;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
}

@mixin myBorder($type: all, $color: #000, $width: 1px, $style: solid) {
  @if($type == all) {
    border: {
      width: $width;
      style: $style;
      color: $color;
    };
  } @else if($type == none) {
    border: none;
  } @else {
    border: {
      #{$type}-width: $width;
      #{$type}-style: $style;
      color: $color;
    };
  }
}

@mixin textBlink() {
  @include setWebkit(animation, blink 1s linear infinite);
  @keyframes blink{
    0%{opacity: 1;}
    100%{opacity: 0;}
  }
  @-webkit-keyframes blink {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }
  @-moz-keyframes blink {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }
  @-ms-keyframes blink {
    0% {opacity: 1; }
    100% { opacity: 0;}
  }
  @-o-keyframes blink {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }
}

@mixin badgeStyle($bgc: #ff0000, $size: 16px, $fontSize: 10px, $color: #FFFFFF) {
  border-radius: 50%;
  width: $size;
  height: $size;
  background-color: $bgc;
  & > span {
    line-height: 1;
    font-size: $fontSize;
    -webkit-transform: scale(0.8);
    -o-transform: scale(1);
    display: inline-block;
    color: $color;
  }
}

@mixin maskDom($zIndex: 999, $bgc: rgba(#000000, 0.3)) {
  position: fixed;
  z-index: $zIndex;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: $bgc;
}

@mixin initStyle() {
  /* 清除内外边距 */
  body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
  dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
  pre, /* text formatting elements 文本格式元素 */
  fieldset, lengend, button, input, textarea, /* form elements 表单元素 */
  th, td { /* table elements 表格元素 */
    margin: 0;
    padding: 0;
  }

  /* 设置默认字体 */
  body,
  button, input, select, textarea { /* for ie */
    font-family: Microsoft YaHei, serif !important;
    /*font: 12px/1 Tahoma, Helvetica, Arial, "宋体", sans-serif;*/
    /*font: 12px/1 Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif; !* 用 ascii 字符表示，使得在任何编码下都无问题 *!*/
  }

  h1 {
    font-size: 18px; /* 18px / 12px = 1.5 */
  }

  h2 {
    font-size: 16px;
  }

  h3 {
    font-size: 14px;
  }

  h4, h5, h6 {
    font-size: 100%;
  }

  address, cite, dfn, em, var {
    font-style: normal;
  }

  /* 将斜体扶正 */
  code, kbd, pre, samp, tt {
    font-family: "Courier New", Courier, monospace;
  }

  /* 统一等宽字体 */
  small {
    font-size: 12px;
  }

  /* 小于 12px 的中文很难阅读，让 small 正常化 */
  /* 重置列表元素 */
  ul, ol {
    list-style: none;
  }

  /* 重置文本格式元素 */
  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
  }

  abbr[title], acronym[title] { /* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */
    border-bottom: 1px dotted;
    cursor: help;
  }

  q:before, q:after {
    content: '';
  }

  /* 重置表单元素 */
  legend {
    color: #000;
  }

  /* for ie6 */
  fieldset, img {
    border: none;
  }

  /* img 搭车：让链接里的 img 无边框 */
  /* 注：optgroup 无法扶正 */
  button, input, select, textarea {
    font-size: 100%; /* 使得表单元素在 ie 下能继承字体大小 */
  }

  /* 重置表格元素 */
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  /* 重置 hr */
  hr {
    border: none;
    height: 1px;
  }
}
